<!--投稿に対してユーザがお気に入り登録済みかどうかで条件分岐させる-->
<% if article.favorited_by?(current_member) %>
  <span><%= link_to article.favorites.count, article_favorites_path(article), method: :delete, remote: true, class: "fas fa-thumbs-up thumbs_red" %></span>
<% else %>
  </span><%= link_to article.favorites.count, article_favorites_path(article), method: :post, remote: true, class: "fas fa-thumbs-up thumbs_blue" %></span>
<% end %>