<div class="container">
  <div class="row">
    <div class="col-lg-3" style="background-color: orange;">
      <h2>サイドバー</h2>
    </div>    
    <div class="col-lg-9">
      <h5>相談</h5>
      <%= render 'index', articles: @inquiring_articles %>
    </div>
  </div>
</div>