<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <h5 class="mt-3">ハッシュタグ: #<%= @tag.name %></h5>
      <%= render 'index', articles: @articles %>
    </div>
    <div class="col-lg-2 side-bar">
      <%= render 'members/info', member: current_member %>
    </div>
  </div>
</div>
