<% notifications.each do |notification| %>
  <div class="notification-view my-3">
    <!--アクションに応じ通知メッセージを返すヘルパーメソッド-->
    <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}前)" %></span>
  </div>
<% end %>


