<div class="container">
  <div class="row">
    <div class="col-lg-10 form-wrap">
      <h5>お問い合わせ完了</h5>
      <p>お問い合わせいただきありがとうございました。</p>
    </div>
    <div class="col-lg-2 side-bar">
      <%= render 'members/info', member: current_member %>
    </div>
  </div>
</div>

