/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "slick-theme";
 @import "slick";

 * {/*リセットCSS*/
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
  header, nav, body, footer, p, a {/*フォントを変更*/
  font-family: 'HanziPen TC', 'Sawarabi Mincho', 'Teko', 'arial narrow', "Segoe Print", sans-serif;
  }

  a {/*リンクされた文字*/
    color:0000ff;
    font-style:normal;
  }
  a:link {/*未訪問のリンク*/
    color:0000ff;
    font-style:normal;
  }
  a:visited {/*訪問後のリンク*/
    color:#876654;
  }
  a:hover {/*マウスをのせたとき*/
    color:#a62901;
    font-style:normal;
    text-decoration:underline;
  }
  a:active {/*クリック中*/
    text-decoration:none;
  }

 .date {/*投稿日時の日付を強調、右側に枠線*/
   border-right: 1px solid #000;
   > span {
     display:block;
     font-size: 180%;
   }
 }

  h4, h3 {/*セクションのタイトルで使用。文字列より少し短い下線*/
   display: inline-block;
   position: relative;
   color:#a62901;
   font-family: 'Homemade Apple', cursive;
   &:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px; /*下線の上下位置調整*/
    display: inline-block;
    width: 50%; /*下線の幅*/
    height: 1px; /*下線の太さ*/
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    background-color: #000; /*下線の色*/
    }
  }

  ul {/*・マークを消す*/
   list-style: none;
  }
  
  .article-heading ul li {/*要素横並び*/
  display: inline-block;
  padding: 5px;
  }

 .side-bar {/*サイドバー背景色*/
   background-color: #eae3d1;
 }

 .fas {/*アイコン少し強調*/
   font-size: 120%
 }

 @mixin tab-mixin($background-image:url){/*新規投稿時タブ切替の背景画像*/
   background-image:$background-image;
   background-color:rgba(255,255,255,0.5);
   background-blend-mode:lighten;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 170px;
 }

 .question {
   @include tab-mixin(image-url("img/question.jpg"));
 }

 .share {
   @include tab-mixin(image-url("img/share.jpg"));
 }

 #wrap{
  background-color: #876654;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vh;
}

#slider{
  width: 100%;
  margin:0 auto 15px;
}

.slide-item{
  img {
    width: 460px;
  }
}
#thumbnail-list{
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}
.thumbnail-item{
  flex: 0 1 20%;
  margin-bottom: 10px;
  box-sizing: border-box;
  position:relative;
  &:after{
    content:'';
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: .3s opacity linear;
  }
  &.thumbnail-current:after{
    opacity: 0;
  }
  img{
    width: 100%;
    margin: 0 auto;
  }
}

figure.hover-parent {
　width: 250px;
　height: 175px;
　position: relative;
　margin-bottom: 30px;
　overflow: hidden;
}
figcaption.hover-mask {
　width: 250px;
　height: 175px;
　position: absolute;
　top: 0;
　bottom: 0;
　left: 0;
　right: 0;
　background: rgba(0,0,0,0.5);
　opacity: 0;
　color: #fff;
　display: flex;
　align-items: center;
　text-align: center;
　padding: 30px;
}

.card {/*カードホバー時にゆっくり浮かび上がる*/
  transition:transform 0.3s;
  &:hover {
    transform:scale(1.05);
  }
}

.search-form {
  margin-right: 35px;
}

.header-icon { /* ヘッダーリンク。アイコンホバー時にテキストを表示 */
  width: 5rem;
  overflow:	hidden;
  padding-top: 20px;
  position: relative;	/* 相対位置指定 */
  border-radius: 3%;
  text-align: center;
  vertical-align: middle;
    .mask {
    line-height: 35px;
    font-size: 11px;
    color: white;
  	width: 120%;
  	height:	150%;
  	position:	absolute;	/* 絶対位置指定 */
  	top: -30%;
  	left:	-15%;
  	opacity: 0;	/* マスクを表示しない */
  	background-color:	rgba(0,0,0,0.7);	/* マスクは半透明 */
  	-webkit-transition:	all 0.3s ease;
  	transition:		all 0.3s ease;
    	&:hover {
    	opacity: 1;	/* マスクを表示する */
    	top: 30%;	/* 元に戻す */
      }
    }
  }
