/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "slick-theme";
 @import "slick";

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 span {
   display:block;
   font-size: 170%;
 }

 .date {
   border-right: 1px solid #000;
 }

  h4 {
   display: inline-block;
   position: relative;
  }

 h4:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px; /*下線の上下位置調整*/
  display: inline-block;
  width: 50%; /*下線の幅*/
  height: 1px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  background-color: #000; /*下線の色*/
}

 ul {
   list-style: none;
 }

 .article-heading ul li {
  display: inline-block;
  padding: 5px;
}

 .side-bar {
   background-color: #eae3d1;
 }

 @mixin tab-mixin($background-image:url){
   background-image:$background-image;
   background-color:rgba(255,255,255,0.5);
   background-blend-mode:lighten;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 170px;
 }

 .question {
   @include tab-mixin(image-url("img/question.jpg"));
 }

 .share {
   @include tab-mixin(image-url("img/share.jpg"));
 }

 #wrap{
  background-color: #876654;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vh;
}

#slider{
  width: 100%;
  margin:0 auto 15px;
}

.slide-item{
  img {
    width: 460px;
  }
}
#thumbnail-list{
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}
.thumbnail-item{
  flex: 0 1 20%;
  margin-bottom: 10px;
  box-sizing: border-box;
  position:relative;
  &:after{
    content:'';
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: .3s opacity linear;
  }
  &.thumbnail-current:after{
    opacity: 0;
  }
  img{
    width: 100%;
    margin: 0 auto;
  }
}

