/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "slick-theme";
 @import "slick";

 * {/*リセットCSS*/
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Courier, Chalkduster, 'Segoe Print', 'Hannari', 'Sawarabi Mincho', 'Hannotate SC', sans-serif; /*フォントを変更*/
  }

  header {
    margin: 0;
    background-color: #876654;/* 茶色 */
    color: #ffffff;
    .fas { /* ヘッダーアイコン白色 */
      color: #ffffff;
    }
    .header-msg, .search-form {
      font-size: 11px;
    }
  }

  .navbar-nav > .header-icon { /* ヘッダーリンク。アイコンホバー時にテキストを表示 */
    color: white;
    width: 3.9rem;
    overflow:	hidden;
    padding-top: 14px;
    position: relative;	/* 相対位置指定 */
    border-radius: 3%;
    text-align: center;
    vertical-align: middle;
    .mask {
    line-height: 35px;
    font-size: 10px;
    color: #111111;
  	width: 120%;
  	height:	150%;
  	position:	absolute;	/* 絶対位置指定 */
  	top: -30%;
  	left:	-15%;
  	opacity: 0;	/* 通常時はマスクを表示しない */
  	background-color:	rgba(255,255,204,0.8);	/* マスクは半透明 ベージュ */
  	-webkit-transition:	all 0.3s ease;
  	transition:		all 0.3s ease;
    	&:hover {
    	opacity: 1;	/* マスクを表示する */
    	top: 30%;	/* 表示位置を元に戻す */
      }
    }
  }


  @mixin p-top-mixin($background-image:url){ /*トップページの背景画像,円形*/
    background-image:$background-image;
    background-color:rgba(255,255,255,.3);
    background-blend-mode:lighten;
    background-size: cover;
    background-position: 75%; /* 画像の左端をコンテナーの左端からオフセット */
    background-repeat: no-repeat;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    position: relative;
  }

  .p-top_mainImage {
    height: 30vw;
    width: 30vw;
    top: 3vw;
    @include p-top-mixin(image-url("img/top_img01.png"));
  }

  .p-top_subImage {
    height: 18vw;
    width: 18vw;
    top: 26vw;
    @include p-top-mixin(image-url("img/top_img03.jpg"));
  }

  .p-top_circle {
    border: calc(3em/16) solid rgba(250, 255, 245, .4);
    box-shadow: 0 0 12vh rgba(248, 250, 245, .8) inset;
    background:radial-gradient(rgba(246, 250, 250, .6), rgba(226, 251, 245, .3) 30%, rgba(243, 250, 244, .2) 60%);
    border-radius: 50%;
    position: relative;
    height: 45vw;
    width: 45vw;
    left: 5vw;
    top: -10vw;
  }

  .p-top_txt {
    font-size: 1.6rem;
    color: #876654; /* 茶色 */
    font-weight: bold;
    letter-spacing: .4rem;
    position: relative;
    top: 20vw;
    left: 2vw;
  }

  .p-top_heading {
    color: #876654; /* 茶色 */
    font-weight: bold;
    letter-spacing: .4rem;
    text-align: center;
    margin-bottom: 3vw;
  }

  .p-top_logo {
    max-width: 40%;
    height: 200px;
    background-image: image-url("img/p-top_logo.png");
    background-position: center; /* 背景画像を中央に配置 */
    background-size: contain; /*値の指定は縦横比は保持しつつ、背景領域に収まるように画像を拡大・縮小させる*/
    background-repeat: no-repeat; /* 念の為、画像の繰り返し表示を防ぐ */
  }

  .daylight { /* TOPページ斜め右下方向に横幅いっぱいに線 */
    width: 100%;
    transform: skewY(39deg);
    .thin {
      background: linear-gradient(to right, rgba(248, 255, 248, .2) 60%, rgba(255, 255, 255, 0));
      position: relative;
      top: 20vw;
      height: 2vw;
      box-shadow: 0 0 1vh rgba(254, 255, 255, .2) inset;
    }
    .thick {
      background: linear-gradient(to right, rgba(246, 255, 245, .2) 60%, rgba(255, 255, 255, 0));
      height: 6vw;
      box-shadow: 0 0 6vh rgba(250, 255, 245, .6) inset;
    }
  }

  .goastFlare {
    margin-left: 75%;
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    background: radial-gradient(rgba(248, 248, 247, .5), rgba(245, 233, 238, .3) 50%, rgba(248, 248, 240, .4)), radial-gradient(circle at -50% -50%, rgba(162, 255, 220, .4) 10%, rgba(253, 232, 232, .4));
    box-shadow: 0 0 2vh rgba(250, 255, 245, .5) inset;
    position: relative;
    top: -20vw;
    &::before {
      content: '';
      position: absolute;
      top: -5vw;
      left: -5vw;
      height: 13vw;
      width: 13vw;
      border-radius: 50%;
      background:radial-gradient(rgba(245, 248, 250, .7), rgba(240, 243, 233, .3) 35%, rgba(243, 250, 241, .3) 62%);
    }
  }

  .p-top_about {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .p-top_aboutTtl, .p-top_newsTtl {
    position: absolute;
    left: 5%;
    font-size: 8em;
    color: rgba(255,255,255,.7);
    line-height: 1;
    letter-spacing: .03em;
    z-index: 0;
  }

  .p-top_newsTtl {
    padding-top: 2vw;
    right: 10%;
    left: auto;
  }

  .p-top_aboutBody {
    font-family: 'Sawarabi Mincho', Teko, 'arial narrow', 'Segoe Print', sans-serif;
    color: #876654; /* 茶色 */
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .4rem;
    line-height: 2em;
    padding: 5% 5% 0 0;
    position: relative;
    z-index: 1;
  }

  .news_img {
    margin: 40px 20px;
    border-radius: 3em;
    transition:transform 0.3s;
    &:hover {
      transform:scale(1.05);
    }
  }

  main {
    background: linear-gradient(320deg, #f1e9d5 70%, #fff); /*斜め右下から左上へグラデーション(0degだと下から上)。0〜70%まで薄いベージュ、残り白*/
  }

  a {/*リンクされた文字「a:link」→「a:visited」→「a:hover」→「a:active」の順で記述*/
    color:#333333;
    font-style:normal;
    &:link {/*未訪問のリンク*/
      color:#876654; /* 茶色 */
      font-style:normal;
    }
      &:visited {/*訪問後のリンク*/
      color:#333333;
    }
    &:hover {/*マウスをのせたとき*/
      color:#a62901; /* 濃い赤 */
      font-style:normal;
      text-decoration:underline;
    }
      &:active {/*クリック中*/
      text-decoration:none;
    }
  }

  #login-member, #cancel, #withdraw, #follow, #unfollow, #btn_back {/*ボタンの文字を白抜き*/
    color: white;
  }

  #inquire, #share {/*タブ切替ボタン、ホバー、選択時に色を文字白抜き*/
    color: #a62901;
    &:hover {
      color: white;
    }
    &.active {
      color: white;
    }
  }

  .clear-decoration {
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
  }

 .date {/*投稿日時の日付を強調、右側に枠線*/
   border-right: 1px solid #000;
   > span {
     display:block;
     font-size: 180%;
    }
  }


  h3, h4 {/*セクションのタイトルで使用。文字列より少し短い下線*/
    display: inline-block;
    position: relative;
    color:#a62901;
    font-family: 'Homemade Apple', cursive;
    margin: 20px 5px;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px; /*下線の上下位置調整*/
      display: inline-block;
      width: 50%; /*下線の幅*/
      height: 1px; /*下線の太さ*/
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      background-color: #a62901; /*下線の色*/
    }
  }

  ul {/*・マークを消す*/
   list-style: none;
  }

  .article-heading ul li {/*要素横並び*/
  display: inline-block;
  padding: 5px;
  }

  .more {
    vertical-align:text-bottom;
  }

 .side-bar {/*サイドバー背景色*/
    background-color: #f1e9d5;
  }

 .fas {/*アイコン少し強調*/
   font-size: 120%;
  }

 @mixin tab-mixin($background-image:url){ /*新規投稿時タブ切替の背景画像*/
   background-image:$background-image;
   background-color:rgba(255,255,255,0.5);
   background-blend-mode:lighten;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 170px;
 }

 .question {
   @include tab-mixin(image-url("img/question.jpg"));
   font-size: .9rem;
   color: #670f0f
 }

 .share {
   @include tab-mixin(image-url("img/share.jpg"));
   font-size: .9rem;
   color: #670f0f
 }

 #wrap {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vh;
 }

  #slider{
    width: 100%;
    margin:0 auto 5px;
  }

  .slide-item{
    img {
      width: 460px;
    }
  }
  #thumbnail-list{
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .thumbnail-item{
    flex: 0 1 20%;
    margin-bottom: 10px;
    box-sizing: border-box;
    position:relative;
    &:after{
      content:'';
      background-color: rgba(0,0,0,0.5);
      position:absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: .3s opacity linear;
    }
    &.thumbnail-current:after{
      opacity: 0;
    }
    img{
      width: 100%;
      margin: 0 auto;
    }
  }

  figure.hover-parent {
  　width: 250px;
  　height: 175px;
  　position: relative;
  　margin-bottom: 30px;
  　overflow: hidden;
  }
  figcaption.hover-mask {
  　width: 250px;
  　height: 175px;
  　position: absolute;
  　top: 0;
  　bottom: 0;
  　left: 0;
  　right: 0;
  　background: rgba(0,0,0,0.5);
  　opacity: 0;
  　color: #fff;
  　display: flex;
  　align-items: center;
  　text-align: center;
  　padding: 30px;
  }

  .card {/*カードホバー時にゆっくり浮かび上がる*/
    transition:transform 0.3s;
    &:hover {
      transform:scale(1.05);
    }
  }

  .search-form {
    margin-right: 1em;
  }

  .profile-image { /* 会員のアイコン中央揃え */
    text-align: center;
  }

  .profile-image-circle { /* アイコン丸く */
    width: 80%;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: white;
  }

  .article_comments { /* 投稿記事のコメント欄サイズ調整、文字と星評価画像を小さく */
    font-size: 12px;
    .rate_average img {
      height: 10%;
      width: 8%;
    }
  }

  .start { /* トップページ遷移時はロゴのみ表示する。jqueryと合わせてゆっくり消えていく */
  	background: #FFF;
  	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
  	z-index: 9000;
  	& p {
    	position: fixed;
    	left: 50%;
    	top: 50%;
    	transform: translate(-50%, -50%);
    	display: none;
    	z-index: 9999;
    	width: 280px;
    }
  }

  .btn-danger, .btn-secondary {
    box-shadow: 7px 3px 3px #5F2428;
  }


  input[type=radio] { /*デフォルトラジオボタンを非表示にしてカスタマイズ*/
    display: none;
  }

 .radio_btn {
    cursor: pointer;
    display: inline-block;
    padding: 7px 32px;
    position: relative;
    width: auto;
    &::before {
      background: #EEEEEE;
      border: 1px solid #BBBBBB;
      box-shadow: 0 1px 4px rgba(0,0,0, .4) inset;
      border-radius: 50%;
      content: '';
      display: block;
      left: -8px;
      margin-top: -7px;
      position: absolute;
      top: 16px;
      height: 20px;
      width: 20px;
    }
    &::after {
      background: #BBBBBB;
      border-radius: 50%;
      content: '';
      display: block;
      height: 16px;
      left: -8px;
      margin-top: -7px;
      opacity: 0;
      position: absolute;
      top: 16px;
      width: 16px;
      transform: scale3d(.3,.3,1);
      transition: transform .5s ease-in-out, opacity .5s ease-in-out;
    }
  }

  .radio_btn:hover::before {
    transform: scale(1.2);
  }

  input[type=radio]:checked + .radio_btn::before {
    border-color: #df5a5c;
    background: #df5a5c;
    box-shadow: none;
  }

  input[type=radio]:checked + .radio_btn::after {
    width: 10px;
    height: 10px;
    background: #fff;
    transform: scale3d(1,1,1);
    opacity: 1;
    left: -3px;
    top: 21px;
  }

  #error_explanation, #alert {
    color: red;
  }

   #notice {
    color: green;
  }


// ------------------------------タブレットサイズ----------------------------------
@media screen and (max-width: 1024px) {

  header .logo {
    width: 90px;
  }

  .header-msg {
    font-size: 9px;
  }

  #keyword {
    width: 110px;
  }

  .goastFlare {
    width: 15vw;
    height: 15vw;
    top: -32vw;
    &::before {
      width: 13vw;
      height: 13vw;
      top: -5vw;
      left: -5vw;
    }
  }

  #slider {
    width: 44vw;
    height: 55vw;
  }

  .slide-item > .article_image {
    margin: 0 auto;
    width: 200px;
    height: 250px;
  }
}

// ------------------------------スマートフォンサイズ----------------------------------
@media screen and (max-width: 425px) {

  p {
    font-size: 7px;
  }
  
  .p-top_logo {
    height: 100px;
  }

  .p-top_txt {
    font-size: 1.1rem;
    letter-spacing: .2rem;
  }

  .p-top_heading {
    font-size: 10px;
  }

  .p-top_aboutBody {
    font-size: 10px;
    letter-spacing: .3rem;
  }

  .p-top_aboutTtl, .p-top_newsTtl {
    font-size: 10vw;
  }

  .daylight {
    .thin {
      top: 16vw;
      height: 3vw;
    }
    .thick {
      height: 5vw;
    }
  }

  .goastFlare {
    top: -20vh;
  }

  .news_img {
    width: 200px;
    height: 200px;
    margin: 0 0 20px 20px;
  }

  .wrap {
  max-width: 280px;
  width: 100%;
  height: 100%;
  }

  .slide-item > .article_image {
    width: 200px;
    height: 250px;
  }
  
  #article_comment_body {
    width: 80%;
  }
  
  .image-form, #article_comment_image {
    max-width: 280px;
    font-size: 7px;
  }
}
  