// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-content {
	padding-bottom: 10px;
	&__date {/*投稿日時の日付を強調、右側に枠線*/
		& p {
	    border-right: 1px solid #000;
	    padding-right: 20px;
	    text-align: right;
	    & span {
	      display:block;
	      font-size: 150%;
	    }
	  }
	}

	&__btn li { /*要素横並び*/
    display: inline-block;
    padding: 3px;
  }

	&__status {
	  background: #876654;
	  border-radius: .25em;
	  color: white;
	  font-size: 1.2em;
	  position: relative;
	  top: -13px;
	  padding: 0.4em;
		transition: .6s;
		& .fas {
			color: white;
			text-decoration: none;
			transition: .6s;
			&:hover {
				-webkit-transform: rotateY(360deg);
	  		transform: rotateY(360deg);
			}
		}
	}

	&__info {
		text-align: right;
		& li {
		  display: inline-block;
      padding: 3px;
		}
	}

  &__commentCount {
	  border-bottom: solid 3px #876654;
	  border-left: solid 3px #876654;
	  color: #876654;
	  display: inline-block;
	  font-size:  22px;
	  font-weight: bold;
	  padding: 0.25em 0.5em;
	  position: relative;
	  text-decoration: none;
	  transition: .6s;
		&:hover {
			background-color: #876654;
		  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
		  cursor: pointer;
		  color: white;
		  transform: translateY(5px);
		}
	}
}

.favorite-btn, #delete-btn {
	color: #876654;
	background: white;
  border-radius: 50%;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  text-align: center;
  width: 38px;
  transition: .6s;
  &:hover {
    text-decoration: none;
		-webkit-transform: rotateY(280deg);
		transform: rotateY(360deg);
	}
}

.comment-form {
	border-bottom: 1px solid #876654;;	
}

.accordion-title{
  position: relative; /* トグルの位置固定 */
}

.accordion-content {
  display: none;      /* デフォルトは隠す */
}

.accordion-title:after {
  content: '\f107'; /* 下向き矢印 */
  color: #876654;
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 1000;
  font-size: 22px;
  height: 52px;
  padding: 15px 15px;
  position: absolute;
  right: 20%;
  top: 0px;
}

.accordion-title.open:after {
  transform: rotate(180deg); /* アイコン回転させて上向きに */
}

.rate_average img { /*星評価画像を小さく */
  height: 10%;
  width: 8%;
}

.tag-box {
	text-align: center;
}

.label {
  background-color: #fff;
  border-radius: .25em;
  font-weight: 500;
  display: inline;
  font-family: 'Kaushan Script';
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  padding: .2em .6em .3em;
  white-space: nowrap;
  vertical-align: baseline;
}

.loadmore-btn {
	background: #dc3545;
	border-radius: 10px;
	border:1px solid #fff;
	color: #fff;
	display: inline-block;
  font-size: 9px;
  margin-bottom: 20px;
	overflow: hidden;
	padding: 0.8em;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 100px;
  &:before {
		background : #fff;
		content:"";
		height: 100%;
		left: -90px;
		opacity: 0.3;
		position: absolute;
		transition: .4s;
		top: 0px;
		width: 100px;
  }
  &:hover:before {
		left:0;
  }
}

@media screen and (max-width: 768px) {
	.article-content {
		&__mainTxt  {
			margin-top: 16vh;
			text-align: center;
		}
	}
}

@media screen and (max-width: 425px) {
	.article-content__btn {
		margin-top: 80px;
	}
	.article-content {
		max-width: 280px;
		&__mainTxt  {
			margin-top: 18vh;
		}
		&__date {/*投稿日時の日付を強調、右側に枠線*/
			& p {
				padding-right: 40px;
				& span {
					font-size: 190%;
				}
			}
		}
	}

}