// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label {
  background-color: #fff;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-family: 'Kaushan Script';
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.loadmore-btn {
	background: #dc3545;
	border:1px solid #fff;
	color: #fff;
	display: inline-block;
  font-size: 9px;
  margin-bottom: 20px;
	overflow: hidden;
	padding: 0.8em;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 100px;
  &:before {
		background : #fff;
		content:"";
		height: 100%;
		left: -90px;
		opacity: 0.3;
		position: absolute;
		transition: .4s;
		top: 0px;
		width: 100px;
  }
  &:hover:before {
		left:0;
  }
}