// Place all the styles related to the ArticleComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




    .rate--average img {
      height: 13px;
      width: 13px;
    }
    
    .instruction--sm-grey {
      font-size: 11px;
      color: grey;
    }