// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*赤いハート*/
#thumbs_red{
  color: #e54747;
}

/*薄い茶色ハート*/
#thumbs_brown{
  color:#e29191;
  &:hover {
    color: #e54747;;
  }
}

