// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  @mixin p-top-mixin($background-image:url){ /*トップページの背景画像,円形*/
    background-blend-mode:lighten;
    background-color:rgba(255,255,255,.3);
    background-size: cover;
    background-image:$background-image;
    background-position: 75%; /* 画像の左端をコンテナーの左端からオフセット */
    background-repeat: no-repeat;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    position: relative;
  }

  .p-top {
    &__img-list {
      &--mainImage {
        height: 30vw;
        width: 30vw;
        top: 3vw;
        @include p-top-mixin(image-url("img/top_img01.png"));
      }
      &--subImage {
        height: 18vw;
        width: 18vw;
        top: 26vw;
        @include p-top-mixin(image-url("img/top_img03.jpg"));
      }
    }
    &__txtCircle {
      background:radial-gradient(rgba(246, 250, 250, .6), rgba(226, 251, 245, .3) 30%, rgba(243, 250, 244, .2) 60%);
      border: calc(3em/16) solid rgba(250, 255, 245, .4);
      box-shadow: 0 0 12vh rgba(248, 250, 245, .8) inset;
      border-radius: 50%;
      height: 45vw;
      left: 5vw;
      position: relative;
      top: -10vw;
      width: 45vw;
      &--txt {
        color: #876654; /* 茶色 */
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: .4rem;
        position: relative;
        text-align: center;
        top: 20vw;
      }
    }

    &__daylight { /* TOPページ斜め右下方向に横幅いっぱいに線 */
      transform: skewY(39deg);
      width: 100%;
      &--thin {
        background: linear-gradient(to right, rgba(248, 255, 248, .2) 60%, rgba(255, 255, 255, 0));
        box-shadow: 0 0 1vh rgba(254, 255, 255, .2) inset;
        height: 2vw;
        position: relative;
        top: 20vw;
      }
      &--thick {
        background: linear-gradient(to right, rgba(246, 255, 245, .2) 60%, rgba(255, 255, 255, 0));
        box-shadow: 0 0 6vh rgba(250, 255, 245, .6) inset;
        height: 6vw;
      }
    }

    &__ttl {
      &--heading {
        color: #876654; /* 茶色 */
        font-weight: bold;
        letter-spacing: .4rem;
        margin-bottom: 3vw;
        text-align: center;
      }
      &--logo {
        background-image: image-url("img/p-top_logo.png");
        background-position: center; /* 背景画像を中央に配置 */
        background-size: contain;    /* 値の指定は縦横比は保持しつつ、背景領域に収まるように画像を拡大・縮小させる*/
        background-repeat: no-repeat; /* 念の為、画像の繰り返し表示を防ぐ */
        height: 200px;
        max-width: 40%;
      }
    }

    &__goastFlare {
      background: radial-gradient(rgba(248, 248, 247, .5), rgba(245, 233, 238, .3) 50%, rgba(248, 248, 240, .4)), radial-gradient(circle at -50% -50%, rgba(162, 255, 220, .4) 10%, rgba(253, 232, 232, .4));
      border-radius: 50%;
      box-shadow: 0 0 2vh rgba(250, 255, 245, .5) inset;
      height: 15vw;
      margin-left: 75%;
      position: relative;
      top: -20vw;
      width: 15vw;
      &::before {
        border-radius: 50%;
        background:radial-gradient(rgba(245, 248, 250, .7), rgba(240, 243, 233, .3) 35%, rgba(243, 250, 241, .3) 62%);
        content: '';
        height: 13vw;
        left: -5vw;
        position: absolute;
        top: -5vw;
        width: 13vw;
      }
    }

    &__about {
      justify-content: flex-start;
      &--ttl {
        right: 5%; 
      }
    }
    
    &__how-to-use {
      justify-content: flex-end;
      &--ttl {
        left: 8%; 
      }
    }
    
    &__about, &__how-to-use {
       display: flex;
      position: relative;
      &--ttl {
        color: rgba(255,255,255,.7);
        font-size: 8em;
        line-height: 1;
        letter-spacing: .03em;
        position: absolute;
        z-index: 0;
      }
      &--body {
        color: #876654; /* 茶色 */
        font-family: 'Sawarabi Mincho', Teko, 'arial narrow', 'Segoe Print', sans-serif;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: .4rem;
        line-height: 2em;
        padding: 5%;
        position: relative;
        z-index: 1;
      }
    }

    &__news {
      margin: 0 50vh;
      &--ttl {
        color: rgba(255,255,255,.7);
        font-size: 8em;
        right: 5%;
        letter-spacing: .03em;
        line-height: 1;
        position: absolute;
        padding-top: 2vw;
        right: 10%;
        z-index: 0;
      }
      &--img img {
        border-radius: 3em;
        height: 280px;
        margin: 40px 20px;
        object-fit: cover;
        transition:transform 0.3s;
        width: 280px;
        &:hover {
          transform:scale(1.05);
        }
      }
    }

    &__start { /* トップページ遷移時はロゴのみ表示する。jqueryと合わせてゆっくり消えていく */
    	background: #FFF;
    	position: fixed;
    	top: 0;
    	left: 0;
    	height: 100%;
    	width: 100%;
    	z-index: 9000;
    	& p {
      	position: fixed;
      	left: 50%;
      	top: 50%;
      	transform: translate(-50%, -50%);
      	display: none;
      	z-index: 9999;
      	width: 280px;
      }
    }
  }
  
  
  /* スクロールに応じた文字のフェードイン*/ 
  .fadeInDown { 
    -webkit-animation-fill-mode:both;  /* animation-fill-mode: アニメーション再生後は、最後のキーフレーム（100%）のスタイルが適用される。 */
    -ms-animation-fill-mode:both;      /* ベンダープレフィックス(各ブラウザベンダー) -webkit- => Chrome, Safari      -ms-  => IE(Microsoft)  */
    animation-fill-mode:both;
    -webkit-animation-duration: 1.8s; /* duration: 1回のアニメーションにかかる時間（1s＝1秒）*/
    -ms-animation-duration: 1.8s;
    animation-duration: 1.8s;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    visibility: visible !important;
  }

  @-webkit-keyframes fadeInDown { /*animation-name(今回だとfadeInDown)についての詳細。アニメーション開始から終了するまでどのようなアニメーションをするのか指定する*/
    0% { opacity: 0; -webkit-transform: translateY(-100px); }  /*アニメーション開始時は不透明度0%  位置はy軸にマイナス*/
    100% { opacity: 1; -webkit-transform: translateY(0); }    /*アニメーション終了時は不透明度100% 位置を戻す*/
  }
  @keyframes fadeInDown {
    0% { opacity: 0; -webkit-transform: translateY(-100px); -ms-transform: translateY(-100px); transform: translateY(-100px); }
    100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
  }

  @media screen and (max-width: 1024px) {

    .p-top {
      &__goastFlare {
        height: 15vw;
        top: -32vw;
        width: 15vw;
        &::before {
          height: 13vw;
          top: -5vw;
          left: -5vw;
          width: 13vw;
        }
      }
      
      &__about, &__how-to-use {
        &--body {
          letter-spacing: .1rem;
          padding: 8% 0;
        }
      }
    }
  }

  @media screen and (max-width: 425px) {

    .p-top {
      &__daylight {
        &--thin {
          box-shadow: 0 0 4px rgba(254, 255, 255, .3) inset;
          top: 16vw;
          height: 16px;
        }
        &--thick {
          box-shadow: 0 0 7px rgba(250, 255, 245, .3) inset;
          height: 24px;
        }
      }

      &__goastFlare {
        top: -17vh;
      }

      &__txtCircle--txt {
        font-size: .9rem;
        letter-spacing: .2rem;
      }

      &__ttl {
        &--heading {
          font-size: 10px;
        }
        &--logo {
          height: 100px;
        }
      }
      
      
      &__about, &__how-to-use {
        &--ttl {
          font-size: 8vw;
        }
        &--body {
          margin-top: 10px;
          font-size: 10px;
        }
      }
      
      &__how-to-use--ttl {
        top: -10px;
      }
      
      &__news {
        margin: 0 20vh;
        &--ttl {
          font-size: 8vw;
        }
        
        &--img img {
          border-radius: 3em;
          height: 200px;
          margin: 10px;
          width: 200px;
        }
      }
    }
  }