<div class="container">
	<section class="inner">
		<h4 class="section-ttl text-center">本当に退会しますか？</h4>
		<h5 class="text-center my-2">退会すると、会員登録情報や<br>これまでの投稿情報が閲覧できなくなります。<br>退会する場合は、「退会する」をクリックしてください。</h5>
		<div class="text-center my-3">
			<%= link_to "キャンセル", member_path(current_member), class: "btn btn-secondary", id: "cancel" %>
			<%= link_to "退会する", withdraw_member_path, method: :patch, class: "btn btn-danger", id: "withdraw", data:
				{ confirm: 'OKを押すと退会処理がされます。本当によろしいですか？',
	 			  cancel: 'キャンセル',
				  commit: 'OK'}, title: '退会確認' %>
		</div>
	</section>
</div>	
		